#header-img{
    max-width: 40%;
    max-height: 40%;
}
#nav-bar{
    float: right;
    margin-top: auto;
}

#main{
    height: Auto;
    width: 100%;
    text-align: center;
}
#form{
    text-align: center;
    padding-top: 20px;
}

   
